body {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: purple;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4 {
    font-family: sans-serif;
    color: blueviolet;
}

button {
    color: white;
    background-color: blue;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    cursor: pointer;
}